* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 145, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: black;
    padding: 15px 20px;
    margin-bottom: 30px;
}

.heading h1 {
    font-size: 36px;
    color: white;
}

.company-logo {
    width: 200px;
    height: auto;
}

.card {
    width: 100%;
    max-width: 400px;

    background-color: #000;
    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    text-align: center;
    padding-bottom: 20px;
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
}

.product-title {
    font-size: 24px;
    color: white;
    margin: 15px;
}

.product-description {
    color: #dcdcdc;
    font-size: 16px;
    margin: 0 15px 20px;
    line-height: 1.5;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    color: #5fe465;
    margin-bottom: 20px;
}

.buy-button {
    padding: 12px 24px;

    border: none;
    border-radius: 8px;

    background-color: #d27000;
    color: white;

    font-size: 16px;
    cursor: pointer;

    transition: all 0.5s ease;
}

.buy-button:hover {
    background-color: #ff8c00;
    transform: scale(1.2);
}

/* Условие для изменений стилей на маленьких экранах/ на мобилках */
@media (max-width: 320px) {
    .heading h1 {
        font-size: 24px;
    }

    .product-title {
        font-size: 20px;
    }

    .product-description {
        font-size: 14px;
    }

    .product-price {
        font-size: 18px;
    }

    .buy-button {
        width: 90%;
    }
}