* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(
        180deg,
        #1b2838,
        #2a475e,
        #1b2838
    );

    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background: linear-gradient(
    135deg,
    #000000 0%,
    #1a1a1a 40%,
    #ff7300 100%
);
    padding: 15px 20px;
    margin-bottom: 30px;
}

.heading h1 {
    font-size: 36px;
    color: white;
}

.company-logo {
    width: 200px;
    height: auto;
}

.products-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.card {
    display: flex;           
    flex-direction: column;   
    flex: 1 1 350px;
    max-width: 380px;
    background-color: #000;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 20px;
    align-items: center;
}

.product-image {
    width: 100%;
    height: 250px;           
    object-fit: cover;       
    display: block;
}

.product-title {
    font-size: 24px;
    color: white;
    margin: 15px;
}

.product-description {
    color: #dcdcdc;
    font-size: 16px;
    margin: 0 15px 20px;
    line-height: 1.5;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    color: #5fe465;
    margin-bottom: 20px;
}

.buy-button {
    width:80%;
    margin-top: auto; 
    padding: 12px 24px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(
        45deg,
        #d27000,
        #ff8c00
    );
    color: white;

    font-size: 16px;
    cursor: pointer;

    transition: all 0.5s ease;
}

.buy-button:hover {
    background-color: #ff8c00;
    transform: scale(1.2);
}


/* Адаптация под мобильные устройства */
@media (max-width: 600px) {
    .heading {
        flex-direction: row !important;
        padding: 10px;
        justify-content: space-between;
    }

    .heading h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .company-logo {
        width: 120px; 
    }

    .products-container {
        flex-direction: column;
        align-items: center;
        gap: 30px; 
        padding: 0 10px;
    }

    .card {
        width: 100%;       
        max-width: 350px;  
        margin: 0;       
    }

    .product-image {
        height: 180px;     
    }

    .product-title {
        font-size: 20px;   
        margin: 10px;
    }

    .product-description {
        font-size: 14px;
        padding: 0 15px;
        margin-bottom: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3; 
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .buy-button {
        width: 85%;
        margin-bottom: 20px; 
        padding: 14px 0;
    }
}